flows (1).json
[
    {
        "id": "6881c7bc66a39e34",
        "type": "tab",
        "label": "HOME",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acf780cd0f6e6b88",
        "type": "ui_switch",
        "z": "6881c7bc66a39e34",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "8d0384e8450d5d01",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "562fd1ff74dc9cba"
            ]
        ]
    },
    {
        "id": "ed9f2dd4296343db",
        "type": "ui_gauge",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "308c817987aafca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "82291a1a7ad5f293",
        "type": "ui_gauge",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "308c817987aafca8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 330,
        "y": 700,
        "wires": []
    },
    {
        "id": "b48bceac49692008",
        "type": "file",
        "z": "6881c7bc66a39e34",
        "name": "",
        "filename": "/home/toke/Desktop/humidity.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4d71e8a27fa67911",
        "type": "ui_chart",
        "z": "6881c7bc66a39e34",
        "name": "HumidityChart",
        "group": "0e15aac8cefdd0d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "60",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0488ce8c408bce",
        "type": "ui_chart",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "0e15aac8cefdd0d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "28",
        "ymax": "35",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ed7812",
            "#2ca02c",
            "#98df8a",
            "#d78e28",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "31c237e28b7c268e",
        "type": "serial in",
        "z": "6881c7bc66a39e34",
        "name": "UNO",
        "serial": "7ccad6c48e687ca7",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "94d79ba0069ad742"
            ]
        ]
    },
    {
        "id": "3feaf8d00b58bf9e",
        "type": "debug",
        "z": "6881c7bc66a39e34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "562fd1ff74dc9cba",
        "type": "serial out",
        "z": "6881c7bc66a39e34",
        "name": "UNO",
        "serial": "7ccad6c48e687ca7",
        "x": 710,
        "y": 1020,
        "wires": []
    },
    {
        "id": "933c1774998f8719",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 734,
        "y": 346,
        "wires": [
            [
                "4c0488ce8c408bce"
            ]
        ]
    },
    {
        "id": "da06ca2bbaebfda3",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 620,
        "wires": [
            [
                "4d71e8a27fa67911"
            ]
        ]
    },
    {
        "id": "5bd9bea2f8a814db",
        "type": "file",
        "z": "6881c7bc66a39e34",
        "name": "",
        "filename": "/home/toke/Desktop/temperature.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "29c8b0b31c81f072",
        "type": "csv",
        "z": "6881c7bc66a39e34",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "time,temperature",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1250,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "94d79ba0069ad742",
        "type": "switch",
        "z": "6881c7bc66a39e34",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Humidity=",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Temp=",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "7cde858e58123c0e"
            ],
            [
                "33b5cd56616d230a"
            ]
        ]
    },
    {
        "id": "7cde858e58123c0e",
        "type": "change",
        "z": "6881c7bc66a39e34",
        "name": "Humidity",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Humidity=",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "3feaf8d00b58bf9e",
                "da06ca2bbaebfda3",
                "ed9f2dd4296343db"
            ]
        ]
    },
    {
        "id": "33b5cd56616d230a",
        "type": "change",
        "z": "6881c7bc66a39e34",
        "name": "Temp",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Temp=",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "3feaf8d00b58bf9e",
                "933c1774998f8719",
                "82291a1a7ad5f293"
            ]
        ]
    },
    {
        "id": "8d0384e8450d5d01",
        "type": "ui_group",
        "name": "SWITCH",
        "tab": "5b389d7b79d03d02",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "308c817987aafca8",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "5b389d7b79d03d02",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e15aac8cefdd0d7",
        "type": "ui_group",
        "name": "CHART",
        "tab": "e25d4a8d798a139b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ccad6c48e687ca7",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "5b389d7b79d03d02",
        "type": "ui_tab",
        "name": "Gauge",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e25d4a8d798a139b",
        "type": "ui_tab",
        "name": "Chart",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]