flows.json
[
    {
        "id": "6881c7bc66a39e34",
        "type": "tab",
        "label": "HOME",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acf780cd0f6e6b88",
        "type": "ui_switch",
        "z": "6881c7bc66a39e34",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "8d0384e8450d5d01",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "562fd1ff74dc9cba"
            ]
        ]
    },
    {
        "id": "ed9f2dd4296343db",
        "type": "ui_gauge",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "308c817987aafca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "82291a1a7ad5f293",
        "type": "ui_gauge",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "308c817987aafca8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 480,
        "wires": []
    },
    {
        "id": "b48bceac49692008",
        "type": "file",
        "z": "6881c7bc66a39e34",
        "name": "",
        "filename": "/home/toke/Desktop/humidity.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "23abf0b9cffb690f",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "d1133f5c8d1a64c8"
            ]
        ]
    },
    {
        "id": "29c8b0b31c81f072",
        "type": "csv",
        "z": "6881c7bc66a39e34",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "time,temperature",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1250,
        "y": 720,
        "wires": [
            [
                "5bd9bea2f8a814db"
            ]
        ]
    },
    {
        "id": "d1133f5c8d1a64c8",
        "type": "function",
        "z": "6881c7bc66a39e34",
        "name": "",
        "func": "\n\nfunction getCurrentTime(){\n    var date = new Date();\n    var hh = date.getHours();\n    var mm = date.getMinutes();\n    \n    \n    hh = hh < 10 ? '0'+hh : hh;\n    mm = mm < 10 ? '0'+mm : mm;\n\n    curr_time = hh +':'+mm;\n    return curr_time;\n}\n\n\npayload = {\"time\":getCurrentTime() , \"temperature\":msg.payload};\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 700,
        "wires": [
            [
                "29c8b0b31c81f072"
            ]
        ]
    },
    {
        "id": "5bd9bea2f8a814db",
        "type": "file",
        "z": "6881c7bc66a39e34",
        "name": "",
        "filename": "/home/toke/Desktop/temperature.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "4d71e8a27fa67911",
        "type": "ui_chart",
        "z": "6881c7bc66a39e34",
        "name": "HumidityChart",
        "group": "0e15aac8cefdd0d7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "60",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0488ce8c408bce",
        "type": "ui_chart",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "0e15aac8cefdd0d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "28",
        "ymax": "35",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ed7812",
            "#2ca02c",
            "#98df8a",
            "#d78e28",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "31c237e28b7c268e",
        "type": "serial in",
        "z": "6881c7bc66a39e34",
        "name": "UNO",
        "serial": "7ccad6c48e687ca7",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "3feaf8d00b58bf9e"
            ]
        ]
    },
    {
        "id": "abf610ea87f5a650",
        "type": "ui_chart",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "0e15aac8cefdd0d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "GAS_SENSOR_ARDUINO",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "74aab122e4c3a88a",
        "type": "ui_gauge",
        "z": "6881c7bc66a39e34",
        "name": "",
        "group": "308c817987aafca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Methane[ARDUINO]",
        "label": "mg/L",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "3feaf8d00b58bf9e",
        "type": "debug",
        "z": "6881c7bc66a39e34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "562fd1ff74dc9cba",
        "type": "serial out",
        "z": "6881c7bc66a39e34",
        "name": "UNO",
        "serial": "7ccad6c48e687ca7",
        "x": 710,
        "y": 1020,
        "wires": []
    },
    {
        "id": "304e48e83c4ca07c",
        "type": "random",
        "z": "6881c7bc66a39e34",
        "name": "Temperature",
        "low": "28",
        "high": "35",
        "inte": "true",
        "property": "payload",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "2329338d9d9db791",
                "82291a1a7ad5f293"
            ]
        ]
    },
    {
        "id": "d515b8887a285efb",
        "type": "random",
        "z": "6881c7bc66a39e34",
        "name": "Humidity",
        "low": "60",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "7a32232ad767291a",
                "ed9f2dd4296343db"
            ]
        ]
    },
    {
        "id": "2329338d9d9db791",
        "type": "function",
        "z": "6881c7bc66a39e34",
        "name": "temp",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "933c1774998f8719"
            ]
        ]
    },
    {
        "id": "7a32232ad767291a",
        "type": "function",
        "z": "6881c7bc66a39e34",
        "name": "humidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "da06ca2bbaebfda3"
            ]
        ]
    },
    {
        "id": "f83d8aaa0b0c43f0",
        "type": "inject",
        "z": "6881c7bc66a39e34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "304e48e83c4ca07c",
                "d515b8887a285efb"
            ]
        ]
    },
    {
        "id": "cc53635cf79c7beb",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "abf610ea87f5a650"
            ]
        ]
    },
    {
        "id": "e57fbd1c1e7a7fe9",
        "type": "inject",
        "z": "6881c7bc66a39e34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "0b6402e482fdc483"
            ]
        ]
    },
    {
        "id": "0b6402e482fdc483",
        "type": "random",
        "z": "6881c7bc66a39e34",
        "name": "",
        "low": "100",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "38fc09a14ebf6afb",
                "74aab122e4c3a88a"
            ]
        ]
    },
    {
        "id": "38fc09a14ebf6afb",
        "type": "function",
        "z": "6881c7bc66a39e34",
        "name": "methane",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "cc53635cf79c7beb"
            ]
        ]
    },
    {
        "id": "933c1774998f8719",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 734,
        "y": 346,
        "wires": [
            [
                "4c0488ce8c408bce"
            ]
        ]
    },
    {
        "id": "da06ca2bbaebfda3",
        "type": "delay",
        "z": "6881c7bc66a39e34",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 620,
        "wires": [
            [
                "4d71e8a27fa67911"
            ]
        ]
    },
    {
        "id": "8d0384e8450d5d01",
        "type": "ui_group",
        "name": "SWITCH",
        "tab": "5b389d7b79d03d02",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "308c817987aafca8",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "5b389d7b79d03d02",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e15aac8cefdd0d7",
        "type": "ui_group",
        "name": "CHART",
        "tab": "e25d4a8d798a139b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ccad6c48e687ca7",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "5b389d7b79d03d02",
        "type": "ui_tab",
        "name": "Gauge",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e25d4a8d798a139b",
        "type": "ui_tab",
        "name": "Chart",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]